

body {
margin: 0;

font-family: 'Open Sans', sans-serif;
}

.page {
  width: 1000px;
  margin: 65px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}


ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  
}
ul li a {
  color: #1F1534;
  text-decoration: none;
}
/* pseudo-class*/
ul li a:hover {
  font-weight: bold;
}

h1, ul {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #000;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

button {
  font-family: 'DM Sans', sans-serif;
}