

body {

}

.page {
  width: 1000px;
  margin: 65px auto 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
}